:root {
    --red: 194, 6, 24;
    --red-hl: 255, 65, 54;
    --orange: 173, 58, 0;
    --orange-hl: 255, 179, 64;
    --yellow: 146, 81, 0;
    --yellow-hl: 255, 212, 38;
    --green: 0, 112, 24;
    --green-hl: 49, 222, 7;
    --blue-green: 11, 117, 112;
    --blue-green-hl: 102, 212, 207;
    --cyan: 0, 103, 150;
    --cyan-hl: 12, 215, 255;
    --blue: 0, 64, 221;
    --blue-hl: 64, 156, 255;
    --indigo: 54, 52, 163;
    --indigo-hl: 125, 122, 255;
    --purple: 173, 68, 171;
    --purple-hl: 218, 143, 255;
    --pink: 193, 16, 50;
    --pink-hl: 255, 58, 95
}

[tooltip] {
    position: relative
}

[tooltip]:hover::before {
    content: attr(tooltip);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%, -100%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, .6666666667);
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font: 400 12px helvetica;
    color: #000;
    z-index: 1
}

[tooltip].dark:hover::before {
    background: rgba(0, 0, 0, .6666666667);
    border: 1px solid #888;
    color: #fff
}

.desktop-only {
    display: block;
}

@media (max-width: 600px) {
    .desktop-only {
        display: none;
    }
}