body {
  line-height: 1.25em;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f7;
  box-sizing: border-box;
  font: 400 16px helvetica;
  font-family: -apple-system, BlinkMacSystemfont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

* {
  box-sizing: border-box
}

.greene {
  border: 1px solid green
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none
}

img {
  object-fit: cover
}

*::-webkit-scrollbar {
  display: none
}

input,
button,
textarea {
  position: relative;
  border: 0;
  outline: 0;
  margin: 0;
  background: transparent;
  font-size: 1em
}

input:focus,
button:focus,
textarea:focus {
  outline: none
}

.b0 {
  border: 0 !important;
  outline: none !important
}

.mx-a {
  margin: 0 auto;
}

.w-auto {
  width: auto
}

.h-auto {
  height: auto
}

.f {
  display: flex !important
}

.f-col {
  display: flex !important;
  flex-direction: column
}

.fwx {
  display: flex !important;
  flex-wrap: wrap
}

.hover {
  will-change: opacity;
  opacity: 0;
  transition: opacity .2s ease
}

.hover:hover {
  opacity: 1
}